
.skill-icon {
  fill: var(--secondary-color);
}

.skill-cloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  transition: transform 0.3s ease-in-out;
}

.skill-item:hover {
  transform: scale(1.1);
}